- name: Install new Databricks CLI
  run: |
    curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | sh

- name: Configure Databricks CLI auth
  run: |
    export DATABRICKS_CONFIG_FILE="$HOME/.databrickscfg"
    mkdir -p ~/.databrickscfg
    cat <<EOF > ~/.databrickscfg
    [DEFAULT]
    host = $DATABRICKS_HOST
    token = $DATABRICKS_TOKEN
    EOF

- name: Test authentication
  run: databricks auth env-var

- name: Get current user
  run: databricks current-user get

- name: Trigger Databricks Job
  run: databricks jobs run-now --job-id "$DATABRICKS_JOB_ID"
