name: Databricks Feature CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-databricks-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install new Databricks CLI
        run: |
          curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | sh

      - name: Configure Databricks CLI
        run: |
          cat <<EOF > ~/.databrickscfg
          [DEFAULT]
          host = $DATABRICKS_HOST
          token = $DATABRICKS_TOKEN
          EOF

      - name: Test Authentication
        run: databricks auth env-var

      - name: Get Current User
        run: databricks current-user get

      - name: Trigger Databricks Job
        run: databricks jobs run-now --job-id "$DATABRICKS_JOB_ID"
